.card {
	flex: 0 0 auto;
	overflow: hidden;
	.imageWrapper {
		position: relative;
		overflow: hidden;
		aspect-ratio: 160 / 106;
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				.hoverBlock {
					transform: translateY(0);
				}
			}
		}
	}
	.hoverBlock {
		position: absolute;
		transition: all 0.3s;
		top: 0;
		left: 0;
		border-radius: 16px 16px 0 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: vars.$spacing-large;
		align-items: center;
		justify-content: flex-end;
		transform: translateY(100%);
		@media (max-width: 768px) {
			display: none;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 65px;
			border-radius: 16px 16px 0 0;
			background: linear-gradient(
				180deg,
				rgba(217, 217, 217, 0) 0%,
				rgba(0, 0, 0, 0.4) 36.5%,
				rgba(0, 0, 0, 0.8) 67.5%
			);
			pointer-events: none;
		}
	}
	.image {
		border-radius: vars.$border-radius-small;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.content {
		display: flex;
		gap: vars.$spacing-small;
		padding: vars.$spacing-small;
	}

	.text {
		font-weight: vars.$font-weight-bold;
		font-size: vars.$font-size-small;
		line-height: 143%;
		color: #9fa1aa;
	}
}
