@use "variables" as vars;

html {
	font-family: vars.$font-family-base;
	font-size: 16px;
	font-weight: vars.$font-weight-medium;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	background-color: vars.$primary-color;
	color: vars.$text-color;
}
