@use "variables" as vars;

html {
	font-family: vars.$font-family-base;
	font-size: 16px;
	font-weight: vars.$font-weight-medium;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	background-color: vars.$primary-color;
	color: vars.$text-color;
}

.container {
	padding: 0 clamp(vars.$spacing-base, 2.5vw, vars.$spacing-large);
	overflow-x: hidden;
}
