@use "variables" as vars;
@mixin container-padding {
	padding: 0 clamp(vars.$spacing-base, 2.5vw, vars.$spacing-large);
}

@mixin hide-scrollbar {
	overflow: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
