@use "@/styles/mixins" as m;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	&__header {
		background: vars.$surface-color;
		height: 56px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__title {
		font-weight: vars.$font-weight-bold;
		font-size: vars.$font-size-large;
		line-height: 120%;
	}
	&__text {
		padding: vars.$spacing-large 0;
		text-align: center;
		font-weight: vars.$font-weight-bold;
	}
}

.show {
	opacity: 1;
	pointer-events: all;
}

.modalContent {
	background: vars.$primary-color;
	border-radius: 12px;
	width: 90%;
	max-width: 800px;
	max-height: 80%;
	overflow-y: auto;
	position: relative;
	transform: translateY(-50px);
	transition: transform 0.3s ease;
}

.show .modalContent {
	transform: translateY(0);
}
.inputWrapper {
	color: #fff;
}
.content {
	@include m.container-padding;
}
.modalClose {
	position: absolute;
	color: #fff;
	top: 50%;
	transform: translate(0, -50%);
	right: 20px;
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
}
.cardTitle {
	padding: vars.$spacing-large vars.$spacing-small;
	font-size: vars.$font-size-base;
}
.modalCards {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
}
