@use "@/styles/mixins" as m;

@mixin horizontal-scroll-container($card-width) {
	& > * {
		flex: 0 0 auto;
		width: $card-width;
	}
}

.wrapper {
	&__first {
		margin-top: vars.$margin-top-lg;
		@media (min-width: 798px) {
			margin-top: vars.$margin-top-base;
		}
	}

	&__default {
		margin-top: vars.$margin-top-base;
	}
}

.scrollContainer {
	@include m.container-padding;
	@include m.hide-scrollbar;
	display: flex;
	gap: vars.$spacing-small;

	@include horizontal-scroll-container(160px);

	@media (min-width: 768px) {
		&.sm {
			@include horizontal-scroll-container(168px);
		}

		&.md {
			@include horizontal-scroll-container(245px);
		}

		&.lg {
			@include horizontal-scroll-container(272px);
		}
	}
}

.header {
	@include m.container-padding;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: vars.$spacing-base;
}
.left {
	display: flex;
	gap: vars.$spacing-small;
}
.right {
	display: flex;
	gap: vars.$spacing-small;
	.nav {
		display: flex;
		gap: vars.$spacing-small;
		@media (max-width: 768px) {
			display: none;
		}
	}
}
